<div class="dark-matter">
  <h1>Bem Vindo</h1>
  <ul>
    <li><%= link_to "Tipos", kinds_path %></li>
    <li><a href="/contacts">Contacts</a></li>
    <li><a href="/andresses">Endereços</a></li>
    <li><a href="/phones">Telefones</a></li>
  </ul>
</div>
