<h1>Bem vindoooo</h1>

<h2> <%= t 'hello.friend' %></h2>
<h2> <%= t 'hi' %></h2>
<h2> <%= l Date.today %></h2>

<ul>
  <li><%= link_to "Tipos", kinds_path %></li>
  <li><a href="/contacts">Contacts</a></li>
  <li><a href="/andresses">Endereços</a></li>
  <li><a href="/phones">Telefones</a></li>
</ul>
