<div class="wrapper">
  <h1>Categorias</h1>

  <p><%= notice %></p>

  <table>
    <thead>
      <tr>Nome</tr>
    </thead>
  </table>

  <tbody>
    <% @categoria.each do |categoria| %>
      <tr>
        <td><%= categoria.nome %></td>
      </tr>
    <% end %>
  </tbody>

</div>

<%= link_to 'Novo', new_categoria_path %>